<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-inline'">
    <title>HaveIBeenPwned Checker</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="fontawesome/css/all.css">
    <link rel="stylesheet" href="main.css">
    <script>
        if (typeof module === 'object') {
            window.module = module;
            module = undefined;
        }
    </script>
    <script src="jquery.js"></script>
    <script src="sweetalert.min.js"></script>
    <script src="main.js"></script>
    <script>
        if (window.module) module = window.module;
    </script>
</head>

<body class="container">
    <div id="windowbar">
        <div id="title" class="text-white text-center no-select">Have I Been Pwned Checker <span
                id="version">V 1.0.0</span></div>
        <div id="menuAction">
            <div id="minimize"><i class="far fa-window-minimize text-white"></i></div>
            <div id="maximize"><i class="far fa-window-maximize text-white"></i></div>
            <div id="close"><i class="fas fa-times text-white"></i></div>
        </div>
    </div>
    <div class="content text-center mt-5 rounded">
        <div class="wrapper">
            <h1 class="no-select" id="langTitle">Loading...</h1><button type="button"
                class="btn primary m-2" id="toggleLanguage" onclick="switchLanguage();"><i class="fas fa-language"></i> <span id="langLanguage"></span></button>
            <div class="status mx-auto mb-5" id="statusCircle">
                <i class="fas statusIcon align-middle mx-auto" id="statusIcon"></i>
                <div class="sk-chase" id="statusLoading" style="display: none;">
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                </div>
            </div>
            <div class="px-5 text-left mb-3">
                <label for="passwordInput" class="no-select" id="langPassword"></label>
                <input type="password" class="form-control form-control-lg" id="passwordInput" autocomplete="off"
                    readonly onfocus="blocked ? '' : this.removeAttribute('readonly');"
                    onfocusout="blocked ? '' : this.setAttribute('readonly','readonly');">
            </div>
            <p class="no-select mb-2"><span id="langCopyrightPre"></span> <i class="fas fa-heart" style="color: var(--danger);"></i> <span id="langCopyrightPost"></span> <svg width="100px" height="auto" viewBox="0 0 2560 720" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                <g transform="matrix(1,0,0,1,0.212305,-2238.2)">
                    <g transform="matrix(1,0,0,1,0,1518.2)">
                        <g transform="matrix(1,0,0,0.972973,-0.212305,38.9189)">
                            <rect x="0" y="700" width="2560" height="740" style="fill:none;"/>
                        </g>
                    </g>
                    <g transform="matrix(1,0,0,1,0,1518.2)">
                        <g transform="matrix(1,0,0,1,-184.629,647.178)">
                            <g>
                                <g transform="matrix(437.318,0,0,437.318,461.653,585.228)">
                                    <path d="M0.696,-0L0.407,-0.697L0.292,-0.697L0.002,-0L0.173,-0L0.218,-0.118L0.48,-0.118L0.525,-0L0.696,-0ZM0.35,-0.463L0.427,-0.258L0.272,-0.258L0.35,-0.463Z" style="fill:white;fill-rule:nonzero;"/>
                                </g>
                                <g transform="matrix(437.318,0,0,437.318,764.714,585.228)">
                                    <path d="M0.301,0.015C0.453,0.015 0.553,-0.076 0.553,-0.204C0.553,-0.313 0.488,-0.373 0.355,-0.423C0.254,-0.461 0.228,-0.486 0.228,-0.52C0.228,-0.553 0.258,-0.576 0.294,-0.576C0.334,-0.576 0.368,-0.55 0.394,-0.504L0.519,-0.58C0.474,-0.67 0.396,-0.715 0.299,-0.715C0.162,-0.715 0.071,-0.633 0.071,-0.517C0.071,-0.41 0.131,-0.346 0.274,-0.291C0.363,-0.257 0.397,-0.234 0.397,-0.194C0.397,-0.149 0.357,-0.124 0.306,-0.124C0.236,-0.124 0.188,-0.163 0.174,-0.243L0.021,-0.205C0.042,-0.072 0.146,0.015 0.301,0.015Z" style="fill:white;fill-rule:nonzero;"/>
                                </g>
                                <g transform="matrix(437.318,0,0,437.318,1019.67,585.228)">
                                    <path d="M0.371,-0L0.371,-0.557L0.574,-0.557L0.574,-0.697L0.008,-0.697L0.008,-0.557L0.212,-0.557L0.212,-0L0.371,-0Z" style="fill:white;fill-rule:nonzero;"/>
                                </g>
                                <g transform="matrix(437.318,0,0,437.318,1274.63,585.228)">
                                    <path d="M0.43,-0.299C0.505,-0.33 0.547,-0.393 0.547,-0.491C0.547,-0.615 0.481,-0.697 0.305,-0.697L0.06,-0.697L0.06,-0L0.217,-0L0.217,-0.277L0.27,-0.277L0.431,-0L0.613,-0L0.43,-0.299ZM0.217,-0.557L0.289,-0.557C0.338,-0.557 0.39,-0.553 0.39,-0.489C0.39,-0.424 0.339,-0.417 0.289,-0.417L0.217,-0.417L0.217,-0.557Z" style="fill:white;fill-rule:nonzero;"/>
                                </g>
                                <g transform="matrix(437.318,0,0,437.318,1538.33,585.228)">
                                    <path d="M0.373,0.018C0.575,0.018 0.715,-0.128 0.715,-0.348C0.715,-0.569 0.577,-0.715 0.373,-0.715C0.171,-0.715 0.032,-0.568 0.032,-0.348C0.032,-0.129 0.171,0.018 0.373,0.018ZM0.373,-0.132C0.261,-0.132 0.189,-0.213 0.189,-0.348C0.189,-0.484 0.261,-0.565 0.373,-0.565C0.486,-0.565 0.557,-0.482 0.557,-0.348C0.557,-0.215 0.486,-0.132 0.373,-0.132Z" style="fill:white;fill-rule:nonzero;"/>
                                </g>
                                <g transform="matrix(437.318,0,0,437.318,1865.01,585.228)">
                                    <path d="M0.541,-0.247C0.514,-0.155 0.437,-0.132 0.373,-0.132C0.261,-0.132 0.189,-0.213 0.189,-0.349C0.189,-0.484 0.261,-0.565 0.373,-0.565C0.455,-0.565 0.515,-0.521 0.542,-0.446L0.69,-0.499C0.642,-0.633 0.526,-0.715 0.373,-0.715C0.171,-0.715 0.032,-0.568 0.032,-0.349C0.032,-0.129 0.171,0.018 0.363,0.018C0.44,0.018 0.5,-0.009 0.54,-0.054L0.552,-0L0.69,-0L0.69,-0.387L0.383,-0.387L0.383,-0.247L0.541,-0.247Z" style="fill:white;fill-rule:nonzero;"/>
                                </g>
                                <g transform="matrix(437.318,0,0,437.318,2187.31,585.228)">
                                    <path d="M0.269,-0C0.507,-0 0.637,-0.121 0.637,-0.343C0.637,-0.569 0.503,-0.697 0.27,-0.697L0.06,-0.697L0.06,-0L0.269,-0ZM0.217,-0.553L0.267,-0.553C0.398,-0.553 0.479,-0.511 0.479,-0.349C0.479,-0.181 0.395,-0.144 0.253,-0.144L0.217,-0.144L0.217,-0.553Z" style="fill:white;fill-rule:nonzero;"/>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </svg></p>
        </div>
    </div>
</body>

</html>