:root {
    --status-icon: "\f002";
}

$dark: rgb(34, 34, 34);
$bright: rgb(243, 243, 243);

body {
    color: $dark;
    background-color: $bright;

    transition: color 0.3s;
    transition: background-color 0.3s;

    #windowbar {
        -webkit-app-region: drag;
        height: 30px;
        background-color: $dark;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;

        #title>span {
            color: rgb(146, 146, 146);
        }

        #menuAction {
            display: flex;
            flex-direction: row;
            position: fixed;
            top: 0;
            right: 0;

            >div {
                -webkit-app-region: no-drag;
                cursor: pointer;
                width: 30px;
                height: 30px;
                margin-left: 5px;
                border-radius: 10%;
                text-align: center;
                display: flex;
                align-items: center;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.3);
                }

                &#close:hover {
                    background-color: rgb(175, 45, 45);
                }

                >i {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }

    >div.content {
        z-index: 10;
        color: $bright;
        background-color: $dark;
        height: 90vh;
        display: flex;
        align-items: center;

        >div {
            margin-left: auto;
            margin-right: auto;

            >div.status {
                width: 200px;
                height: 200px;
                background-color: $bright;
                border-radius: 100%;
                margin-top: 100px;
                color: $dark;
                display: flex;
                align-items: center;
                transition: transform 0.3s;
                transition: background-color 0.3s;
                transition: color 0.3s;

                &.ready {
                    cursor: pointer;
                    animation-name: statusReady;
                    animation-duration: 0.5s;
                    animation-direction: alternate;
                    animation-iteration-count: infinite;

                    &:hover {
                        transform: scale(1.1) !important;
                        animation-duration: 1s;
                        animation-name: statusReadyHover;
                    }
                }
            }
        }
    }
}

@keyframes statusReady {
    0% {
        transform: scale(1.0);
    }

    100% {
        transform: scale(1.05);
    }
}

@keyframes statusReadyHover {
    0% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1.12);
    }
}

button.btn.primary {
    background-color: $bright;
    color: $dark;
}

i.fas.statusIcon:before {
    content: var(--status-icon);
}

.no-select {
    user-select: none;
}

.success {
    background-color: var(--success) !important;
    color: $bright !important;
}

.danger {
    background-color: var(--danger) !important;
    color: $bright !important;
}

.sk-chase {
    width: 10vw;
    height: 10vw;
    max-width: 120px;
    max-height: 120px;
    min-width: 80px;
    min-height: 80px;
    position: relative;
    animation: sk-chase 2.5s infinite linear both;
    margin: 0 auto 0;
}

.sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation: sk-chase-dot 2.0s infinite ease-in-out both;
}

.sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: $dark;
    border-radius: 100%;
    animation: sk-chase-dot-before 2.0s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
    animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2) {
    animation-delay: -1.0s;
}

.sk-chase-dot:nth-child(3) {
    animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4) {
    animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5) {
    animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6) {
    animation-delay: -0.6s;
}

.sk-chase-dot:nth-child(1):before {
    animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2):before {
    animation-delay: -1.0s;
}

.sk-chase-dot:nth-child(3):before {
    animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4):before {
    animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5):before {
    animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6):before {
    animation-delay: -0.6s;
}

@keyframes sk-chase {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes sk-chase-dot {

    80%,
    100% {
        transform: rotate(360deg);
    }
}

@keyframes sk-chase-dot-before {
    50% {
        transform: scale(0.4);
    }

    100%,
    0% {
        transform: scale(1.0);
    }
}